@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

*{
    box-sizing:border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: white;
    height: 100vh;
    font-family: 'Baloo Tamma 2', cursive;
    position: relative;
    
}

/* HEADER SECTION */

header{
    display:flex;
    background: #181818;
    /* position:fixed; */
    width: 100%;
    height:70px;
    align-items:center;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 14px;
    margin-bottom: 40px;
}

header .logo{
    flex: 1;
    display:flex;
    align-items:center;
    justify-content: center;
}

header .logo p span{
    margin-right: 15px;
    font-size:40px;
    color:#cd5e18;
    
}
header .logo p{
    
    font-weight:bold;
    font-size:17px;
}

header .nav-1{
    flex: 2;
    /* margin: 0 20px; */
    
}
header .nav-1 ul,header .nav-2 ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}


i.fa-bars{
    display: none;
}
header .nav-2{
    flex: 1;
}
header .nav-2 ul li{
    transition: all 0.3s ease-in;
    padding: 10px 20px;
    cursor: pointer;
}

header .nav-2 ul li:hover{
    background-color:#efaf7c ;
}


header .nav-2 ul li.register{
    background: #464646;
    cursor: pointer;
    font-size: 12px;
}

header .nav-2 ul li.register:hover{
    background: #efaf7c;
    color:#464646;
    
}

header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    transition: all 0.3s ease-in;
    color: #efaf7c;
   
}



/* MOBILE VIEW */


.mobile-view{
  
    display:none;
    
    /* height:100%; */
}
/* INTRO SECTION */

.intro-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    width: 70%;
    margin: auto;
    /* margin: 30px 30px 0 30px; */
    padding: 20px 0px 30px 0;
}

.intro-section-h1{
    font-size:50px;
    font-weight:800;
    font-family:'Lobster', cursive;
    /* text-align:center; */
}

.intro-section-p{
    font-weight:100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin:auto;
    font-size: 15px;
    line-height:20px;
}

/* BANNER */

.banner{
    width: 90%;
    height: 700px;
    margin:30px auto;
  
    
}


.banner img {
    width: 100%;
    height: 100%;
    
}




/* AFTER BANNER SECTION */

.after-banner-section{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:90%;
    margin:70px auto;
    grid-gap:20px;
    
}
.after-banner-section-1{
    width:80%;
    margin: auto;
    position:relative;
    /* display: none; */
    left: -100px;
transition:all 1s ease-in
    /* animation-fill-mode: forwards; */
}
.after-banner-section-1:visited{
    left: 0px;
}
.slide-in{
    /* display: block; */
    /* left: -1000px; */

    /* animation: box 4s infinite; */
}

@keyframes box {
    0%{
        left: -1000px;
        top:0px;
        
    }

   

    100%{
       
        left: 0px;
        top:0px;
        
        
    }
}
.after-banner-section-1 h2{
    font-size: 40px;
    margin-bottom:  10px;
}

.after-banner-section-1 span{
    /* margin: -20px 0 30px 0; */
    font-size:20px;

}

.after-banner-section-1 img{
    margin-top:30px;
    width:100%;
    

}
.after-banner-section-2{
    width:80%;
    margin: 0 auto;
}

.after-banner-section-2 img{
    width:100%;
    height:400px;
    margin-bottom: 30px;
}

.after-banner-section-2 p{
    line-height:20px;
    font-size:15px;
    margin-bottom: 30px;
}

.after-banner-section-2 span{
    background: #cd5e18;
    padding: 17px 20px;
    cursor: pointer;
    font-size:13px;
    transition: all 0.3s ease-in;
}
.after-banner-section-2 span .fa-long-arrow-right{
    margin-left: 5px;
}

.after-banner-section-2 span:hover{
    background-color: transparent;
    color:#cd5e18;
}


/* SMALL SPACE SECTION */

.small-space-section{
    background: #f7f1f1;
    color: #222222;
    width: 100%;
}

.sub-small-space-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:50px;
    width: 80%;
    margin: 0 auto;
    padding: 80px 0
}

.small-space-section-1{
    width: 100%;
    margin: 0 auto;
}
.small-space-section-1 h3{
    color:#cd5e18;

    line-height: 39px;
}
.small-space-section-1 h3 b{
    font-weight: bolder;
    font-size: 30px;
    
    
}
.small-space-section-1 h3 span{
    font-size: 25px;
    font-weight: lighter;
}

.small-space-section-1 p{
    margin:60px 0px 30px 0;
    line-height: 30px;
    font-weight: lighter;
    color: #4a5c66;
}

.small-space-section-1 span{
    color: #4a5c66;

    line-height: 30px;
}

.small-space-section-1 h4 a{
    color:#cd5e18;
    font-family: auto;
    font-size:12px;
}

.small-space-section-1 h4 a:hover{
    transition: all 0.5s ease-in;
    text-decoration: none;
    color: #4a5c66;
    font-size: 14px;
}

.small-space-section-2{
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content:center;
    text-align:center;
}

.small-space-section-2 img{
    width: 70%;
    height: auto;
    
}

/* Explore Section */

.explore-section{
    display: grid; 
    grid-template-columns: 100%;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center; 
    background: #ffffff;
    color: black;
    padding: 70px 0 70px 0;
    width: 100%;
}

.explore-section h3 {
    margin: auto;
    line-height: 18px
}
.explore-section h3 span{
    font-size: 30px;
    font-weight: bolder;
    
}

.explore-section h3 p{
    font-size: 30px;
    font-weight: lighter;
    font-family: none;
}

.explore-section-categories{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    
}

.explore-section-categories-sideBar{
    justify-content: center;
    align-items: center; 
    margin: 20px auto;   

}

input[placeholder="Search Category"]{
    border: none;
    outline: none;
    background:#e7e8e8;
}


.explore-section-categories-sideBar ul{
    list-style: none;
    padding-left: 0;
  
    
}

.explore-section-categories-sideBar ul li{
    margin-top: 50px;
    cursor:pointer;
}
.explore-section-categories-sideBar ul li:hover{
    transition: all 0.3s ease-in;
    color:#cd5e18;


}
.explore-section-categories-sideBar span{
    background: #e7e8e8;
    padding: 14px 12px;
    color:#71797d;  
}


h5.all-categories{
    margin-top: 40px;
    background: #cd5e18;
    text-align:center;
    padding: 14px 0px;
    color:white; 
    transition: all .3s ease-in;
}

h5.all-categories:hover{
    color:#cd5e18;
    background: transparent;

}

.explore-section-categories-images{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 20px;
    margin: 0 auto;
    height: 100%;
    width: 70%;
    
}

.explore-section-categories-images section{
    width: 100%;
    height: 250px;
    position: relative;
}

.explore-section-categories-images section img{
    width: 100%;
    height: 100%;
}

.explore-section-categories-images section p{
    position: absolute;
    /* top: 0px; */
    color: white;
    display: none;
    z-index: 5;
    bottom:50px;
}

/* TESTIMONIAL SECTION */

.testimonial-section{
    display: grid; 
    grid-template-columns: 100%;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center; 
    background: #222222;
    color: white;
    padding: 70px 0 70px 0;
    width: 100%;
    
}

.testimonial-section h3 {
    margin: auto;
    line-height: 18px
}
.testimonial-section h3 span{
    font-size: 30px;
    font-weight: bolder;
    
}

.testimonial-section h3 p{
    font-size: 30px;
    font-weight: lighter;
    font-family: none;
}

.sub-testimonial-section-wrapper{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    margin: 0 auto;
}

.testimonial-section-images{
    display:flex;
    flex-direction: column;
    align-items:center;

}

.images-section-1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
    align-items: flex-end;
    margin: 0 0px 15px 0px;
    width: 100%;
}


.images-section-1 img:nth-of-type(1) {
    width: 200px;
    margin: 0 15px 0 0;
}
.images-section-2 img{
    width:100%;
}
.clients-testimonial-section{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.clients-testimonial-section div:nth-of-type(1){
    margin-bottom: 50px;
}
.clients-testimonial-section div p{
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
}

.clients-testimonial-section div h5{
   padding: 0;
   margin:0;
   font-size:25px;
}

.clients-testimonial-section div span{
    font-size:13px;
    color:#6d6d6d;
}


/* FOOTER SECTION */

footer{
    display:grid;
    grid-template-columns: repeat(2, 50% 50%);
    background:#181818;
    color: white;
    grid-gap: 20px;
    padding: 40px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 0 auto;
}


 .footer-logo p span{
    margin-right: 15px;
    font-size:40px;
    color:#cd5e18;
    
}
.footer-logo p{
    
    font-weight:bold;
    font-size:17px;
}

.footer-left p{
    font-size: 15px;
    color:#b1b1b1;
}

.footer-left .social-networks{
    display: flex;
    color:#464646;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.footer-links-header{
    font-size: 13px;
    color:#585858;
}

.footer-right div{
   display:flex;
   flex-direction:column
    /* margin:0; */
}
.footer-right div a{
    text-decoration: none;
    margin:10px 0;
    color:white;
    font-size:13px;
    /* margin:0; */
}



/* MEDIA QUERIES */
@media (min-width:1000px){
    .mobile-view {
        display:none;
    }
}
@media (max-width: 850px){
  header  .nav-1, header .nav-2{
        display: none;
    }
    i.fa-bars{
        display: block;
        font-size:25px;
    }
    header .logo{
        flex: 20%;
        display:flex;
        align-items:center;
        justify-content: center;
    }
    header{
        padding: 0 15px;
    }
    header .bars{
        flex:80%;
        display:flex;
        
        justify-content: flex-end;
    }

    .mobile-view{
        background: #181818;
        color: white;
        position: absolute;
        top:72px;
        transition: all 1s ease-in;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* display:none; */
        left: -1000px;
        width: 100%;
        /* height:100%; */
    }
    .mobile-view .nav-1{
        margin:auto;
    }
    
    .mobile-show{
        left:0;
        /* transition: all 0.7s ease-in; */
    
        /* display:flex; */
    }
    
    .mobile-view .nav-1 ul{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left:0;
    }
    
    .mobile-view .nav-2 ul{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left:0;
    
        
    }
    
    .mobile-view .nav-1 ul li{
        transition: all 0.3s ease-in;
        padding: 10px 20px;
        cursor: pointer;
        text-decoration:none;
    }
    .mobile-view .nav-1 ul li a{
        color: white;
        
        text-decoration:none;
    }
    
    .mobile-view .nav-2 ul li{
        transition: all 0.3s ease-in;
        padding: 10px 20px;
        margin:10px 0; 
        cursor: pointer;
    }
    
    .mobile-view .nav-2 ul li.register{
        background: #464646;
        cursor: pointer;
        font-size: 12px;
    }
    
    .mobile-view .nav-2 ul li:hover{
        background-color:#efaf7c ;
    }
    .mobile-view .nav-2 ul li.register:hover{
        background: #efaf7c;
        color:#464646;
        
    }
    
    
    .mobile-view a:hover{
        transition: all 0.3s ease-in;
        color: #efaf7c;
       
    }
}

@media (max-width: 768px){
    .intro-section{
        display: grid;
        grid-template-columns: 1fr;
        
}

@media (max-width: 600px){

    .banner{
        width: 90%;
        height: auto;
       
    }
    .after-banner-section{
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .explore-section-categories{
        
        grid-template-columns: 100%;
        
        
    }

    .explore-section-categories-sideBar ul{
        display: none;
      
        
    }

    .sub-testimonial-section-wrapper{
        
        grid-template-columns: 100%;
        
    }

    footer{
        
        grid-template-columns: 100%;
        
    }
}

@media (max-width: 480px){
    .intro-section{
    
        width: 90%;
      
    }  

    .after-banner-section{
        width:100%;
        
    }

    .sub-small-space-section{
        
        grid-template-columns: 100%;
        
        width: 80%;
        
    }
    .after-banner-section-2 img:nth-child(1){
       display:none;
    }
    .small-space-section-2 img{
        display: none
        
    }

    .explore-section-categories-images{
        
        grid-template-columns:100%;
        
        
    }

    .explore-section-categories-images section:nth-of-type(1){
        display: none;
    }
    .explore-section-categories-images section:nth-of-type(2){
        display: none;
    }
    .explore-section-categories-images section:nth-of-type(3){
        display: none;
    }

    .testimonial-section-images{
        display:none;
    
    }
}
}