*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: black;
}

.box{
    background: white;
    width:200px;
    height:200px;
    position:relative;
    animation: box 4s infinite;
    /* animation-fill-mode: forwards */
    
}

@keyframes box {
    0%{
        background: white;
        left: 0px;
        top:0px;
        border-radius: 0px;
        /* transform: rotate(360deg); */
        /* transform: rotateX(180deg); */
        /* transform: translateX(80%) */
    }

    25%{
        background-color:pink;
        left:200px;
        top:0px;
        border-radius: 50% 0 0 0;
        /* transform: rotateY(180deg); */

    }
    50%{
        background-color:cyan;
        left:200px;
        top:200px;
        border-radius: 50% 50% 0 0;

    }
    75%{
        background-color:orange;
        left: 0px;
        top:200px;
        border-radius: 50% 50% 50% 0;

    }

    100%{
        background: white;
        left: 0px;
        top:0px;
        border-radius: 100%;
        
    }
}